@import "./index.scss";
@import "./work.scss";
@import "./porfolio.scss";
@import "./blog.scss";
@import "./contact.scss";

@keyframes flip-anime {
    0% {transform: rotate3d(-1, 1, 0, 0deg);}
    50% {transform: rotate3d(-1, 1, 0, -180deg);}
    100% {transform: rotate3d(-1, 1, 0, 0deg);}
}

@keyframes leMagnify {
    50% {
        transform: scale(1);
        letter-spacing: 0.3em;
    }
}

@keyframes logo-tracking {
    0% {letter-spacing: -0.5em;filter: blur(6px);}
    25% {letter-spacing: 0.1em;filter: blur(0px);}
    75% {letter-spacing: 0.1em;filter: blur(0px);}
    100% {letter-spacing: -0.5em;filter: blur(6px);}
  }

  
.flip-horizontal{
    display: flex;
    position: fixed;
    top: 40vh;
    left: 80vw;
    color: $color1;
    animation: flip-anime 10s infinite ;
}


.top_navbar{
    top: 1vh;
    left: 1vw;
    width: 98vw;
    height: 12vh;
    z-index: 0;
    position: fixed;
    justify-content: space-between;

    ul{
        display: flex;
        justify-content: center;
        flex-direction: row;
        list-style-type: none;

        li{
            width: 20%;
            height: 100%;
            min-height: 1em;
            text-align: center;
            float: left;  
            color: $color1;
        }

        a.o_botton{
            width: 100%;
            height: 100%;
            color: inherit;
            text-decoration: none;
            display: block;
            box-sizing: border-box;
            line-height: 12vh;
            border-radius: 1vh; 
            &:hover{
                background-color: $bgcolor;
                color: white;
                text-shadow: 0 0 0.01em $color1, 0 0 0.01em $color1;
                animation: leMagnify 5s infinite;
            }
        }
        a.h_botton{
            width: 100%;
            height: 100%;
            color: inherit;
            text-decoration: none;
            display: block;
            box-sizing: border-box;
            line-height: 12vh;
            border-radius: 1vh; 
            animation: logo-tracking 10s infinite;

            &:hover{
                color: white;
                text-shadow: 0 0 0.01em $color1, 0 0 0.01em $color1;
            }
            
        }
    }
}


// ----work----
$bgcolor: rgba(115, 115, 115,0.6);
$color1: #DDDDDD;
$color2: #222831;
$color3: #30475E;
$color4: #F05454;

.work_body {
    width:100%;
    height:100%;
    background-image: url("https://images.unsplash.com/photo-1503252947848-7338d3f92f31?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1931&q=80");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top left;
    background-size:cover;
    background-color:#222831;
    z-index:-1;
}

.work_w{
    position: absolute;
    top: 22vh;
    left: 5vw;


    .work_intr{
        color: $color1;
        
        
        .wi_title{
            font-size: 1.5em;
        }

        .wi_main{
            font-size: 1.2em;
            margin-top: 0.5em;
        }
    }

    .wrok_img{

    }
}

//---------------------------------------------blog


.blog_body {
    width:100%;
    height:100%;
    background-color: $color2;
    z-index:-1;
}

.blog_main{
    width:98%;
    height:84%;
    top:14%;
    left:1%;
    background-color: #393e46;
    z-index:0;
    display: flex;
    justify-content:space-between;
    position: absolute;
    border-radius: 1vh;
    position: fixed;
    
}

.blog_navlist{
    border-radius: 1vh;
    width:24.5%;
    height: 84vh;
    background-color: #717d8c;
    position: fixed;
    overflow:auto;

    ul{
        width: 96%;
        left: 2%;
        top: 2%;

        list-style-type: none;
        position: relative;
        display:flex;
        flex-direction: column;
        justify-content: flex-start;

        li{
            width: 100%;
            position: relative;
            
            a{
                width: 100%;
                height: 100%;
                padding: 1%;

                color: inherit;
                display:block;
                text-decoration:none;
                align-items: baseline;

                div.blog_title{
                    font-size: 1.5em;
                }

                &:hover{
                    background-color: #a7b5bb;
                    color: white;
                }
            }

            div.blog_weather_date{
                padding: 0% 2% 1% 2%;
                color: $color2;
                font-size: 0.8em;
                display:flex;
                justify-content:space-between;
            }

            div.blog_list{
                font-size: 1.2em;
                text-align: center;
            }
        }
    }
}
.blog_section{
    left:25.5%;
    border-radius: 1vh;
    width:75%;
    display:block;
    position: relative;
    background-color: #a7b5bb;
    overflow:auto;

    ul.blog_page{
        width: 96%;
        margin: 2%;
        position: relative;
        list-style-type: none;

        div.blog_weather_date{
            font-size: 1.1em;
            display:flex;
            justify-content:space-between;
        }

        li{
            min-height: 85vh;
        }

        div.bp_title{
            position: relative;
            width: 49%;
            font-size: 2.5em;
        }

        div.bp_sub_title{
            font-size: 1.1em;
            width: 49%;
            display:flex;
            justify-content:space-between;
        }

        div.bp_body{
            margin-top:2%;
            position: relative;
            width: 98%;
            display: flex;
            justify-content:flex-start;
            .bpb_text{
                width: 49%;
                font-size: 1.1em;
                line-height: 2em;
            }
        }
        
        .bpb_img{
            max-width: 50%;
            max-height: 65vh;

            img{
                max-width: 100%;
                max-height: 100%;
            }   
            &:hover{
                margin-top:-12%;
                margin-left:-40%;
                max-width: 50vw;
                max-height: 100%;
            }
        } 
    }  
}

