* {
  margin: 0;
  padding: 0;
}

.slide-out {
  background-color: #2d2d2d;
  color: #DDDDDD;
  width: 100vw;
  height: 100vh;
  text-align: center;
  line-height: 100vh;
  z-index: 2;
  -webkit-animation: index-anime 2s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
          animation: index-anime 2s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.index_body {
  width: 100%;
  height: 100%;
  background-image: url("https://images.unsplash.com/photo-1615107899082-044cc1133649?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2156&q=80");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top left;
  background-size: cover;
  background-color: #222831;
  z-index: -1;
}

.top_navbar ul {
  top: 0px;
  left: 1vw;
  width: 98vw;
  max-width: 1440px;
  height: 12vh;
  z-index: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: fixed;
  list-style-type: none;
}

.top_navbar ul li {
  width: 20%;
  height: 100%;
  min-height: 1rem;
  text-align: center;
  float: left;
  color: #DDDDDD;
}

.top_navbar ul a {
  width: 100%;
  height: 100%;
  color: inherit;
  text-decoration: none;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 12vh;
  border-radius: 1vh;
  -webkit-animation: navbar-slide-in-top 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: navbar-slide-in-top 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.top_navbar ul a:hover {
  background-color: rgba(115, 115, 115, 0.6);
  color: white;
  text-shadow: 0 0 0.01em #DDDDDD, 0 0 0.01em #DDDDDD;
}

.index_into {
  font-size: 16px;
  line-height: 20px;
  position: absolute;
  left: 20px;
  bottom: 20px;
  width: 300px;
  color: #DDDDDD;
  text-align: center;
  text-shadow: 0 0 1em #DDDDDD, 0 0 1em #DDDDDD;
  z-index: 0;
  -webkit-animation: index-into-fade-in 3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
          animation: index-into-fade-in 3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.ii_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-transform: uppercase;
}

.it_t {
  display: inline;
}

footer {
  position: absolute;
  bottom: 0px;
  right: 0px;
  z-index: 2;
  color: #30475E;
  font-size: 0.6rem;
}

@-webkit-keyframes index-anime {
  0% {
    width: 100%;
    height: 100%;
    -webkit-transform: translateZ(1);
            transform: translateZ(1);
    opacity: 1;
  }
  99% {
    width: 100%;
    height: 100%;
    -webkit-transform: translateZ(600px);
            transform: translateZ(600px);
    opacity: 0;
  }
  100% {
    width: 0;
    height: 0;
    overflow: hidden;
  }
}

@keyframes index-anime {
  0% {
    width: 100%;
    height: 100%;
    -webkit-transform: translateZ(1);
            transform: translateZ(1);
    opacity: 1;
  }
  99% {
    width: 100%;
    height: 100%;
    -webkit-transform: translateZ(600px);
            transform: translateZ(600px);
    opacity: 0;
  }
  100% {
    width: 0;
    height: 0;
    overflow: hidden;
  }
}

@-webkit-keyframes navbar-slide-in-top {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@keyframes navbar-slide-in-top {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes index-into-fade-in {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes index-into-fade-in {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.work_body {
  width: 100%;
  height: 100%;
  background-image: url("https://images.unsplash.com/photo-1503252947848-7338d3f92f31?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1931&q=80");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top left;
  background-size: cover;
  background-color: #222831;
  z-index: -1;
}

.work_w {
  position: absolute;
  top: 22vh;
  left: 5vw;
}

.work_w .work_intr {
  color: #DDDDDD;
}

.work_w .work_intr .wi_title {
  font-size: 1.5em;
}

.work_w .work_intr .wi_main {
  font-size: 1.2em;
  margin-top: 0.5em;
}
/*# sourceMappingURL=main.css.map */